
/*------------RESET CSS ---------------- */
* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }
/*-------------CORPO ---------------- */
body {
    background: burlywood;
    
}
/*-------------CABECALHO---------------- */
header {
    background-color: grey;
    text-align: center;
    border: 3px solid;
    border-radius: 40px;
    margin: 40px;
}
/*-------------FORMULARIO---------------- */
form {
    background-color: grey;;
    height: 500px;
    text-align: center;
    border: 2px solid;
    border-radius: 40px;
    margin: 50px 400px;
    
}
/*-------------ITEM ESCOLHER MEDIDAS ---------------- */
#escolherMedidas {
    background-color: grey;
    font-size: x-large;
    margin: 20px;
    padding: 10px;
    border-radius: 40px;
    border: 2px solid;
}
/*-------------MEDIDAS---------------- */
.medidas {
    height: 40px;
    display: flex;
    justify-content: space-around;
    margin: 50px;
    
}
/*-------------EDICAO VALOR DE---------------- */
#valorDe{
    font-size: x-large;
    border-radius: 40px;
    border: 2px solid;
    background-color: grey;
}
/*-------------EDICAO VALOR PARA---------------- */
#valorPara{
    font-size: x-large;
    border-radius: 40px;
    border: 2px solid;
    background-color: grey;
}
/*-------------EDICAO CAMPO VALOR--------------- */
#valor{
    height: 30px;
    width: 200px;
    margin: 20px;
    border-radius: 40px;
    border: 2px solid;
    
}
/*-------------EDICAO BOTAO---------------- */
#botaoConverter{
    height: 50px;
    width: 100px;
    margin: 20px;
    border-radius: 40px;
    border: 2px solid;
    background-color: grey;
}
/*-------------EDICAO CAMPO---------------- */
#valorFinal{
    font-size: larger;
    background-color: grey;
    text-align: center;
}